<!-- views/partials/_header.ejs -->

<h4>_/\/&macr\___/\_&nbspWelcome to TinyApp&nbsp_/\__/&macr&macr\_/\_</h4>

<% if (userEmail === undefined) { %>
  <form action="/login" method="POST";>
    <label for="username">Enter email:</label>
    <input id="username" type="text" name="username" placeholder="username" style="width: 100px">
    <input type="submit" value="Login">
  </form>
<% } else { %>
  Logged in as: <%= userEmail %> &nbsp&nbsp
  <form method="POST" action="/logout" style="display:inline";>
    <input type="submit" value="Logout">
  </form>
<% } %>
<br>
<br>