<!-- views/partials/_header.ejs -->

<h4>_/\/&macr\___/\_&nbspWelcome to TinyApp&nbsp_/\__/&macr&macr\_/\_</h4>
<% if (!userEmail) { %>
  <a href="/login">Login</a>&nbsp&nbsp<a href="/register">Register</a>
<% } else { %>
  <form method="POST" action="/logout" style="display:inline";>
    <label for="logout"><b>Logged in as: </b><%= userEmail %></label>
    <input id="logout" type="submit" value="Logout">
  </form>
<% } %>
<br>
<br>
<br>