<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- <% include partials/_header %> -->
    <table>
      <% for (key in urls)  { %>
        <tr>
          <td><%= `${urls[key]} ` %> </td>
          <td>&nbsp:&nbsp</td>
          <td><%= ` ${key}` %></td>
          <td>&nbsp&nbsp&nbsp&nbsp</td>
          <td><a href="/urls/<%=key%>">Edit</a></td>
          <td>&nbsp&nbsp&nbsp</td>
          <td><form method="POST" action="/urls/<%=key%>/delete" style="display:inline">
            <button type='submit'>DELETE</button>
          </form></td>
        </tr>
      <% }%>
      <tr>
        <td>&nbsp</td>
      </tr>
    </table>
    <form action="/urls/new"><button>Make new TinyURL</button></form>
    <% include partials/_footer %>
</body>
</html>