<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header %>

    <% const output = [] %>
    <% for (key in urls)  {
      output.push(`${urls[key]} : ${key}`)
    }%>
    <p><%- output.join(' _____ ') %></p>
    <p><a>Click to shorten URL</a></p>

    <% include partials/_footer %>
</body>
</html>