<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>

  <h2>shortURL: <%=`${shortURL}` %></h2>

  <form action="/urls/<%= shortURL %>" method="POST">
        <input id="longURL" type="text" name="longURL" value="<%= urls[shortURL] %>" style="width: 300px">
        <input type="submit" value="Update">
      </form>

  <% include partials/_footer %>
</body>
</html>